python-dotenv
fastapi
uvicorn[standard]
jinja2
starlette
python-multipart
openpyxl
pyyaml
pytest
requests
pymysql
itsdangerous
# ORM Migration
tortoise[asyncmy]
aerich
# ORM + FastAPI 集成
fastapi-tortoise-crud
